body {
  font-family: 'Work Sans', sans-serif;
  font-size: 2em;
  background-color: #EDEBD7;
}

#result, #details {
  display: none;
}

.details {
  cursor: pointer;
  color: #4A88E0;
}

.jumbotron {
  text-align: center;
  background: url("../img/cover.png") repeat center;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10%;
  opacity: 0.9;

}

h2 {
  color: #B7434D;
  font-family: 'Fugaz One', cursive;
  text-decoration: underline;
  font-weight: bold;
  padding-top: 10%;
  position: relative;
}

.order {
  width: 50%;
}
